[Desktop Entry]
Name=MinClock
Comment=MinClock dev utility

Path=/usr/local/minClock
Exec=minClock
Icon=/home/mark/.local/minClock/minClock.svg

Terminal=false
Type=Application
StartupNotify=true

OnlyShowIn=GNOME;Unity;Pantheon;KDE;
Categories=GNOME;GTK;Development;
