[Desktop Entry]
Name=MinClock
Comment=MinClock dev utility

Path=/usr/local/minClock
Exec=minClock
Icon=/usr/share/icons/hicolor/48x48/apps/minClock.png

Terminal=false
Type=Application
StartupNotify=true

OnlyShowIn=GNOME;Unity;Pantheon;KDE;
Categories=GNOME;GTK;Development;
