[Desktop Entry]
Name=minClock

Path=/usr/local/minClock
Exec=minClock
Icon=/usr/share/icons/hicolor/48x48/apps/minClock.png

Terminal=false
Type=Application
StartupNotify=true

Categories=Utility;Accessories;
